node_modules/
app/images/
app/data/login.json
app/data/
app/directives/
app/controllers/
app/views/
app/templates/
app/services/
.sass-cache/
app/filters/
app/styles/css/main.css
*.DS_Store
.idea/
build/
