.cms-base-input
  height: 40px
  border-radius: 5px
  +border($grey-input-border)
  width: 100%

.cms-input
  @extend .cms-base-input
  padding: $std-top-spacing

.cms-button
  @extend .cms-base-input
  font-size: $base-font-size
  font-weight: bold


=cms-color-button($background-color, $stopcolor, $content-color)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, $stopcolor), color-stop(1, $background-color))
  background-color: $background-color
  color: $content-color
  @extend .cms-button
  +border($background-color)

.form-button
  +cms-color-button($blue2,$blue3,$white)
  form &
    margin: $std-top-spacing $zero

.form-button-div
  text-align: center
  padding: $medium-spacing $zero
  @extend .form-button
  margin: $std-top-spacing $zero

.cms-textArea
  font-size: $content_small_size
  height: 125px
  color: $grey13
  padding: $std-top-spacing
  @extend .cms-base-input

.cms-accordion-header
  color: $blue
  font-weight: bold