$std-font-normal: 'HelveticaNeue'
$std-font-light: $std-font-normal + '-Light'
$std-font-ultra-light: $std-font-normal + '-UltraLight'
$std-font-thin: $std-font-normal + '-Thin'

$base-font-size: 16px
$heading-font-size: $base-font-size + 4
$content-font-size: 12px

$footer-font-size: 10px
$title-font-size: $base-font-size + 1

$badge-font-size: $base-font-size - 1
$list-font-size: $base-font-size + 2
$list-icon-size: 75px

$content_font_size: 13pt
$content_container_size: 14px
$content_small_size: 13px
$content_medium_size: 15px
$content_large_font: 21px
$content_x_large_font: 22px