.cms-footer-image-group
  position: relative
  padding: 0 10px 6px 10px
  text-align: center
  float: left
  width: 25%
  font-size: $base_font_size
  font-family: "HelveticaNeue"
  color: $grey2
  margin-top: 8px

.cms-footer-active-crisis-active, .cms-footer-respond-active, .cms-footer-policies-active, .cms-footer-wallet-card-active
  color: $grey2

.cms-footer-active-crisis, .cms-footer-respond, .cms-footer-policies, .cms-footer-wallet-card
  color: $blue

.cms-footer-activeCrisisIcon
  content: url('../../images/btmtab_Icon_ActiveCrisis.svg')
  height: 28px

.cms-footer-activeCrisisIcon-active
  content: url('../../images/btmtab_Icon_ActiveCrisis_active.svg')

.cms-footer-respondCrisisIcon
  content: url('../../images/btmtab_Icon_RespondCrisis.svg')

.cms-footer-respondCrisisIcon-active
  content: url('../../images/btmtab_Icon_RespondCrisis_active.svg')

.cms-footer-CMPolicyIcon
  content: url('../../images/btmtab_Icon_CMPolicies.svg')

.cms-footer-CMPolicyIcon-active
  content: url('../../images/btmtab_Icon_CMPolicies_active.svg')

.cms-footer-walletCardIcon
  content: url('../../images/btmtab_Icon_WalletCard.svg')

.cms-footer-walletCardIcon-active
  content: url('../../images/btmtab_Icon_WalletCard_active.svg')

.cms-footer
  background: $white
  width: 100%
  +border-position('top', $grey1)

.cms-footer-disabledLink
  pointer-events: none

.cms-footer-icon
  height: 28px

.cms-footer-masterContainer
  +border($grey3)
  background: $white