.cms-footer
  background: $white
  +border-position('top', $grey1)
  color: $grey2

  .cms-footer-image-group
    padding: $footer-icon-padding-top $std-top-spacing
    text-align: center
    width: 25%
    font-size: $footer-font-size
    font-family: $std-font-normal

    .cms-footer-active-crisis, .cms-footer-respond, .cms-footer-policies, .cms-footer-wallet-card
      color: $blue

    .cms-footer-activeCrisisIcon
      @extend .cms-active-crisis-icon

    .cms-footer-activeCrisisIcon-active
      @extend .cms-active-crisis-icon-active

    .cms-footer-respondCrisisIcon
      @extend .cms-respond-crisis-icon

    .cms-footer-respondCrisisIcon-active
      @extend .cms-respond-crisis-icon-active

    .cms-footer-CMPolicyIcon
      @extend .cms-policy-icon

    .cms-footer-CMPolicyIcon-active
      @extend .cms-policy-icon-active

    .cms-footer-walletCardIcon
      @extend .cms-wallet-card-icon

    .cms-footer-walletCardIcon-active
      @extend .cms-wallet-card-icon-active

    .cms-footer-icon
      height: $footer_icon_height

  .cms-footer-disabledLink
    pointer-events: none