.cms-header-headerContainer
  background: $white
  +border-position('bottom', $grey1)
  padding: $std-side-spacing $std-top-spacing
  text-align: center
  width: 100%

  .cms-header-pageTitle
    font-size: $title_font_size
    color: $blue
    font-weight: bold
    +text-ellipsis
    font-family: $std-font-normal
    display: inline-block
    width: 65%

  .cms-header-backButtonContainer
    .cms-header-backButton
      @extend .cms-back-icon

  .cms-crisisListContainer
    .cms-header-alertIcon
      @extend .cms-alert-icon
    .cms-header-alertIconActive
      @extend .cms-alert-icon-active
    .cms-header-crisisListIcon
      @extend .cms-list-icon
    .cms-header-crisisMapIcon
      @extend .cms-map-icon