.cms-severity-icon
  content: url('../../images/warning_icon.svg')
  .cms-severity-box &
    width: 100%

.cms-accordion-expandIcon
  content: url('../../images/Accordiandown.svg')

.cms-accordion-collapseIcon
  content: url('../../images/Accordianup.svg')

.cms-call-team-member
  content: url('../../images/call.svg')

.cms-profile-icon
  content: url('../../images/avataricon.svg')
  width: 100%

.cms-mobile-icon
  background: url("../../images/mobile-phone.svg") right no-repeat
  background-size: $mobile-icon-size
  width: $mobile-icon-size
  height: $mobile-icon-size

.cms-conference-icon
  height: $initiate-conf-icon-size
  width: $initiate-conf-icon-size
  background-size: 100%
  background-image: url("../../images/initiateConference.svg")

%time-picker-icon
  background: $white url("../../images/clock.svg") 97% no-repeat
  background-size: 23px
  vertical-align: middle

%data-picker-icon
  background: $white url("../../images/calendar.svg") 96% no-repeat
  background-size: 23px
  vertical-align: middle

%drop-down-arrow
  background: $white url("../../images/dropdown_arrow.svg") 97.5% no-repeat
  background-size: 20px
  vertical-align: middle