$list-icon-size: 75px
$badge-size: 30px
$badge-radius: 22px
$list-side-spacing: 23px

$zero: 0

$footer-space: 53px

$crisis-list-item-height: 90px
$crisis-item-spacing: 15px
$std-padding: 10px
$header_icon_width: 25px
$footer_icon_height: 28px
$disabled_links_pointer-events: none