.cms-login-masterContainer
  margin: 68px $std-side-spacing $std-top-spacing

  .cms-input
    color: $black
    font-size: $base-font-size
    font-family: $std-font-light
    margin-top: $big-spacing

  .form-button
    margin-top: $big-spacing


.cms-login-headerLabel
  +label-text($black, 90pt, $std-font-ultra-light, 0)
  text-align: center
  line-height: 100px

.cms-login-headerLabelPart2
  +label-text($black,20pt, $std-font-light, $std-side-spacing $zero $big-spacing)
  text-align: center
  line-height: 22px

/*Offline mode code
.cms-login-masterContainer-offline
  margin: 47.5px $std-side-spacing

.cms-login-walletCardContainer
  margin-top: $std-top-spacing
  text-align: center

.cms-login-walletCardText
  +label-text($blue, $content_small_size, $std-font-light, $std-top-spacing)