.cms-login-masterContainer
  height: 90%
  margin: 68px $std-side-spacing $std-top-spacing
  font-family: $std-font-normal


.cms-login-inputControl
  color: $black
  font-size: $base-font-size
  font-family: $std-font-light
  @extend .cms-input

.cms-login-headerLabel
  color: $black
  font-size: 90pt
  text-align: center
  line-height: 100px
  font-family: $std-font-ultra-light

.cms-login-headerLabelPart2
  color: $black
  font-size: 20pt
  text-align: center
  line-height: 22px
  padding: $std-side-spacing $zero $big-spacing
  font-family: $std-font-light

.cms-login-form
  padding-top: $big-spacing

.cms-login-password
  margin-top: $big-spacing

.cms-login-loginUser
  +cms-color-button($blue2,$blue3,$white)
  margin-top: $big-spacing

/*Offline mode code

.cms-login-masterContainer-offline
  margin: 47.5px $std-side-spacing

.cms-login-walletCardSeparator
  +border-position('top', $faded-grey)
  margin-top: $big-spacing

.cms-login-walletCardContainer
  margin-top: $std-top-spacing
  text-align: center

.cms-login-walletCard-icon
  content: url('../../images/icon-wallet-card.png')
  width: 40px

.cms-login-walletCardText
  margin-left: $std-top-spacing
  color: $blue1
  font-size: $content_small_size
  font-family: $std-font-light