.cms-nl-masterContainer
  padding: $std-side-spacing
  color: $grey7
  +footer-space

.cms-nl-headingText
  font-weight: bold
  display: table-cell

.cms-nl-headingValue
  display: table-cell
  padding-left: $std-small-spacing

//not used - need to revisit
/*.cms-nl-frequencySelection
  width: 100%
  padding-top: $zero
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  background: white url("../../images/dropdown_arrow.svg") 97.5% no-repeat
  background-size: 20px 20px
  vertical-align: middle*/

/* Media queries for xhdpi(W*H: 720*1080) and xxhdpi(W*H: 1080*1920) resolution
.cms-nl-masterContainer
  @media screen and (min-device-width: 720px), screen and (min-device-width: 1080px)
    .form-button
      margin-top: 55px