.cms-rrs-masterContainer
  padding: $zero $std-side-spacing
  color: $grey7
  +footer-space
  .cms-textArea
    margin-top: $std-small-spacing
  .cms-section-heading
    @extend %sub-section-spacing
  .cms-member-name
    font-weight: bold

/* Media queries for xhdpi(W*H: 720*1080) and xxhdpi(W*H: 1080*1920) resolution

@media (min-device-width: 720px) and (min-device-height: 1080px)
  .cms-rrs-masterContainer
    padding: $big-spacing $std-side-spacing 90px
    .form-button
      margin-top: 45px