.cms-sendAlert-text
  font-size: $content_container_size
  color: $grey7

.cms-sendAlert-sectionHeading
  font-weight: bold

.cms-sendAlert-divider
  @extend .separator

.cms-sendAlert-pageContainer
  padding: $big-spacing $std-side-spacing 90px

.cms-sendAlert-message
  width: 100%
  font-weight: normal
  font-size: $content_small_size
  height: 165px
  color: $grey13
  line-height: 23px
  user-select: none

.sendAlertBoldText
  font-weight: bold
  color: $grey7

.cms-sendAlert-messageLabel
  margin-top: $big-spacing
  margin-bottom: $std-small-spacing

.cms-sendAlert-sendAlertButton
  margin-top: $big-spacing
  @extend .form-button-div

/* Media queries for xhdpi(W*H: 720*1080) and xxhdpi(W*H: 1080*1920) resolution

@media (min-device-width: 720px) and (min-device-height: 1080px)
  .cms-sendAlert-pageContainer
    padding: $big-spacing $std-side-spacing 90px
  .cms-sendAlert-sendAlertButton
    margin-top: 45px