.cms-sendAlert-pageContainer
  padding: $zero $std-side-spacing
  color: $grey7
  height: 100%

.cms-sendAlert-message
  font-size: $content_small_size
  height: 165px
  color: $grey13
  line-height: 23px
  user-select: none

//not used - need to revist
/*.sendAlertBoldText
  font-weight: bold
  color: $grey7*/

/*.cms-sendAlert-messageLabel
  margin-top: $big-spacing
  margin-bottom: $std-small-spacing*/

/* Media queries for xhdpi(W*H: 720*1080) and xxhdpi(W*H: 1080*1920) resolution
@media (min-device-width: 720px) and (min-device-height: 1080px)
  .cms-sendAlert-pageContainer
    padding: $big-spacing $std-side-spacing 90px
    .form-button-div
      margin-top: 45px