.cms-vwc-masterContainer
  padding: $big-spacing $std-side-spacing
  +footer-space
  .cms-member-name
    font-size: $content_x_large_font
    font-family: $std-font-light
  .cms-call-team-member
    width: $wallet-card-phone-icon-size

.cms-vwc-teamMemberDetails
  padding-bottom: $medium-spacing

.cms-vwc-walletCardItem
  background-color: $white
  height: $wallet-card-item-height
  margin-top: $std-top-spacing

.cms-vwc-phoneLabel
  color: $blue
  padding: $std-side-spacing $std-side-spacing $zero

.cms-vwc-phoneValue
  font-size: $content_large_font
  padding: $medium-spacing $std-side-spacing

.cms-vwc-icon-box
  height: $wallet-card-item-height
  //display: table-cell
  //vertical-align: middle
  //text-align: right


.cms-vwc-item-icon
  height: 100%

