.list-group{
  padding-left: 0;
  margin-bottom: 50px;
}
.list-group-item{
    border: 1px solid #d2d4d6;
    height:127px;
    padding-top: 25px;
    padding-left: 23px;
    padding-right: 23px;
    margin-bottom: -2px;
}

body {
  background-color: #eeeff1;
}

.cms-centerText{
    text-align: center;
}

.cms-hideElement {

    visibility:hidden;
}

.cms-removeElement
{
    display:none;
}

@font-face {
  font-family: HelveticaNeue;
  src: url('../fonts/HelveticaNeue.ttf');
}

@font-face {
  font-family: HelveticaNeue-Light;
  src: url('../fonts/HelveticaNeue-Light.ttf');
}

@font-face {
  font-family: HelveticaNeue-UltraLight;
  src: url('../fonts/HelveticaNeue-UltraLight.ttf');
}

@font-face {
  font-family: HelveticaNeue-Thin;
  src: url('../fonts/HelveticaNeue-Thin.otf');
}

.cms-errorMessageContainer
{
    color: #e62828;
    padding: 5px 3px 0px;
    font-size:12px;
}

.cms-alert{
    width: 95%;
    margin: 5px auto;
    padding: 5px;
}

.cms-pushdown-search-nav {
    margin-top: 105px !important;
}




