.list-group{
  padding-left: 0;
  margin-bottom: 50px;
}
.list-group-item{
  border: 1px solid #d2d4d6;
  height:115px;
  padding-top: 19px;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: -2px;
}

body {
  background-color: #eeeff1;
}

.cms-centerText{
    text-align: center;
}

.cms-hideElement {

    visibility:hidden;
}

.cms-removeElement
{
    display:none;
}

@font-face {
  font-family: HelveticaNeue;
  src: url('../fonts/HelveticaNeue.ttf');
}

@font-face {
  font-family: HelveticaNeue-Light;
  src: url('../fonts/HelveticaNeue-Light.ttf');
}

@font-face {
  font-family: HelveticaNeue-UltraLight;
  src: url('../fonts/HelveticaNeue-UltraLight.ttf');
}

@font-face {
  font-family: HelveticaNeue-Thin;
  src: url('../fonts/HelveticaNeue-Thin.otf');
}

.cms-errorMessageContainer
{
    color: #e62828;
    padding: 5px 3px 0px;
    font-size:12px;
}

.cms-alert{
    width: 98%;
    margin: 5px auto;
    padding: 6px;
    position: absolute;
    margin-left: 3px;
    z-index: 1033;
    border-radius:0px;
    border:none;
}

.cms-alert-close
{
    margin-top:-5px;
    position:initial !important;
}

.cms-alert-closeIcon
{
    font-size:25px;
}

.cms-pushdown-search-nav {
    margin-top: 105px !important;
}

.cms-loader-spinner
{
   content:url('../../images/loader.svg');
   padding-top: 90%;
   padding-left: 40%;


}

.cms-loader-container
{
   position:   fixed;
   z-index:    1035;
   min-height:     100%;
   min-width:      100%;
   background: rgba(0, 0, 0, 0.3);
   align: center;
   top:0;
   left:0;

}



