.cms-cdv-content
{
    font-family: "HelveticaNeue";
    font-size:14px;
    color:#000000;
}

.cms-cdv-accordion-header {
    color: #0064D2 !important;
    font-weight: bold;
    font-size: 16px;
}
.cms-cdv-accordion-header:hover
{
    text-decoration:none;
}


.cms-cdv-accordion-body
{
    background-color: #ECF0F3 !important;
    padding: 0 0 0 15px;
}

.cms-cdv-pointOfContact
{
    padding: 0;
    border: none;
    margin-bottom:0px;
}
.cms-cdv-pointOfContactItem
{
    background-color: #F6F7FB !important;
    height: 35px;
    padding: 8px 15px;
}

.cms-cdv-crisisDetail
{
    padding-right: 0px;
}

.cms-cdv-crisisDescription
{
    padding-top:14px;
}

.cms-cdv-updateDescription
{
    padding-top: 8px;
}

.cms-cdv-severity
{
    width: 55px;
    height: 60px;
    vertical-align: middle;
    content:url('../../images/warning_icon.svg');
}

.cms-cdv-main
{
    padding: 10px 0px 10px 0px;
    height:96px;
    width:104%;
}

.glyphicon-chevron-up {
    color: black !important;
}

.cms-cdv-timeOccured
{
    padding-top: 30px;
    padding-right: 2px;
}

a.cms-cdv-timeOccuredLink
{
    color:#0064D2;
    text-decoration:none;
}

.crisis-mgmt-crisisDetail
{
    margin-left:15px;
    margin-top: 17px;
}

.cms-cdv-locationInfo-firstItem,.cms-cdv-updates-firstItem
{
    padding-top: 15px !important;
}

.cms-cdv-locationInfo-lastItem,.cms-cdv-updates-lastItem
{
    padding-bottom: 16px !important;
}

.cms-cdv-locationInfo-remainingItems, .cms-cdv-updates-remainingItems
{
    padding-top: 12px;
}

.cms-cdv-icon
{
    width: 20px;
    height:20px;
    padding-bottom:2px;
}

.cms-cdv-expandIcon
{
    content: url('../../images/Accordiandown.svg');
}

.cms-cdv-collapseIcon
{
    content: url('../../images/Accordianup.svg');
}

.cms-cdv-callTeamMember
{
    content: url('../../images/call.svg');
}

.cms-cdv-content .list-group-item:first-child,.cms-cdv-content .list-group-item:last-child {
    border-radius:0;
}



