.cms-searchTeam-content {
    font-family:"HelveticaNeue";
    color:#000;
    padding-top:46px;
}

.cms-selectTeam-searchContainer {
    height:50px;
    background-color:#d8dde1;
    padding:8px;
    border: 1px solid #d2d4d6;
}

.cms-selectTeam-searchBox {
    width: 100%;
    border-radius: 4px;
    border: 1px;
    line-height: 27px;
}

.cms-selectTeam-searchIcon {
   background: #ffffff url('../../images/searchBoxText.png') no-repeat 46%;
   background-size: 69px;
}

.cms-selectTeam-searchIcon:focus {
    background-image:none;
}

.cms-selectTeam-headerRow {
    background-color:#ECF0F3;
    font-size:17px;
    color:#0064D2;
    font-weight:700;
    padding:0;
    height:auto;
}

.cms-selectTeam-otherRow {
    height:44px;
    font-size:14px;
    font-weight:400;
    color:#000;
    cursor:pointer;
    padding:12px 0 0 15px;
}

.cms-searchTeam-availableTeams {
    padding:12px 0 0 15px;
}

.cms-selectTeam-listSelectIcon {
    background-image:url('../../images/list_select_bg.png');
    color:#FFF;
}

.cms-searchTeam-content .list-group-item:first-child,.crisis-mgmt-searchTeam-content .list-group-item:last-child {
    border-radius:0;
}

.cms-selectTeam-searchNav
{
    margin-top:60px;
}

