.cms-documentsList-content {
    font-family:"HelveticaNeue";
    color:#000;
    padding-top:46px;
}

.cms-documentsList-searchContainer {
    height:50px;
    background-color:#d8dde1;
    padding:8px;
}

.cms-documentsList-searchBox {
    width:100%;
    border-radius:4px;
    border:1px;
    padding-bottom: 6px;
    padding-top: 8px;
}

.cms-documentsList-searchIcon {
    background-size:17px;
    background: #ffffff url('../../images/search.svg') no-repeat 36%;
    background-size: 17px;
}

.cms-documentsList-searchBox::-webkit-input-placeholder {
    text-align:center;
    font-family:"HelveticaNeue";
    font-size:15px;
    color:#8e8e93;
}

.cms-documentsList-searchBox:focus::-webkit-input-placeholder {
    color:transparent;
}

.cms-documentsList-searchIcon:focus {
    background-image:none;
}

.cms-documentsList-headerRow {
    background-color:#ECF0F3;
    font-size:17px;
    color:#0064D2;
    font-weight:700;
    padding:0;
    height:auto;
}

.cms-documentsList-otherRow {
    height: auto;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
    padding: 12px 15px;
}

.cms-documentsList-availableDocuments {
    padding:12px 0 0 15px;
}

.cms-documentsList-listSelectIcon {
    background-image:url('../../images/list_select_bg.png');
    color:#FFF;
}

.cms-documentsList-content .list-group-item:first-child,.cms-documentsList-content .list-group-item:last-child {
    border-radius:0;
}

.cms-documentsList-searchNav
{
    margin-top:60px;
}